Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Lisa Stachlewitz"
COLLABORATORS = ""

---

***Keine Abgabe für diese Aufgaben benötigt***

# Programmierumgebung-Setup
Das Ziel dieser praktischen Übung ist es, dass Sie sich Ihre Programmierumgebung einrichten und kennenlernen. Dafür werden Sie typsiche Tools für Data Science Aufgaben und für diesen Kurs kennenlernen und installieren. Vor allem werden Sie die folgenden Programme installieren:

* Anaconda oder Miniconda
* Jupyter Notebook

## Installation von Anaconda oder Miniconda
In diesem Schritt werden wir einen Paketmanager installieren, welcher uns hilft Jupyter Notebooks schnell und einfach aufzusetzen und zu verwalten. Für diese Aufgaben gibt es ein paar Optionen, wobei wir uns für das bekannte und in der Data Science Welt weitverbreitete [Anaconda](http://anaconda.org) aufgrund seiner vorinstallierten Bibliotheken und effizienten Tools entschieden haben.

Der Installationsguide auf der [Download Seite](https://www.anaconda.com/download) ist sehr ausführlich und ohne Probleme nachvollziehbar. Bei Fragen könnt Ihr Euch gerne melden. Bereits Standard kommt Anaconda mit den meistgenutzten Data Science Paketen, von denen auch viele dabei sind, die wir hier im Kurs nicht nutzen werden. Wir können auch die minimalistische Version [Miniconda](https://conda.io/miniconda.html) nutzen. Sowohl Anaconda als auch Miniconda kommen standardmäßig mit  `conda` - einem Paket Management System sowie `python` und `pip` - auch ein Paket Management System. Generell ist es aber empfehlenswert bei der Anaconda/Miniconda Installation  `conda` zu nutzen. Manchmal kann es bei der Nutzung von  `conda` und  `pip` parallel zu kleinen Problemen kommen. Am Besten versuchen Sie bei der Installation zuerst `conda` aus und sollte `conda` das entsprechende Paket nicht finden, können Sie dann mit `pip` arbeiten. So sollte es zu keinen Problemen kommen.

**Aufgabe:** Laden Sie sich die minimalistische Version von `conda` herunter. Nach dem Herunterladen machen Sie einen Doppelklick auf den Installer um Miniconda auf Windows zu installieren. Für Linux/MacOS Benutzer tippen Sie das Folgende:

    $ chmod +x Miniconda3-latest-Linux-x86_64.sh
    
    $ ./Miniconda3-latest-Linux-x86_64.sh
    
und folgen im Anschluss den Instruktionen des Installers.

## Jupyter Notebook

[Jupyter Notebook](http://jupyter.org/) ist eine Open Source Web-basierte interaktive Umgebung, welches es erlaubt, Dokumente zu erstellen und zu teilen, welche Code, Berechnungen, Visualisierungen und Erklärungen enthalten. Um ein Paket zu installieren, benutzen Sie einfach folgenden Befehl: \
`$ conda install <package-name>`

**Aufgabe:** Installieren Sie Jupyter mit `conda` . Haben Sie sich in der vorigen Aufgabe bereits für Anaconda entschieden, dann können Sie diesen Schritt überspringen oder stellen beim Ausführen dieses Befehls fest, dass Jupyter bereits installiert ist.
    
    $ conda install jupyter
    
**Aufgabe:** Mit dem folgenden Befehl können Sie das Web-Interface von jupyter aufrufen und hier dann neue Notebooks erstellen oder bearbeiten.
    
    $ jupyter notebook
    
    
**Weitere Info:** Lesen Sie diesen [Blog](https://towardsdatascience.com/a-beginners-tutorial-to-jupyter-notebooks-1b2f8705888a) für eine Schritt-für-Schritt Anleitung.

# Test Installation

Führen Sie die unteren Zellen aus, um die Python Umgebung sowie das Jupyter Notebook zu testen. Um eine Zelle auszuführen haben Sie folgende Möglichkeiten:

* Klicken Sie den "Run" Knopf im Quick-Menü
* Nutzen Sie das Dropdown-Menü von "Cell" im Hauptmenü
* Tastenkürzel "Shift + Enter", um die aktuelle Zelle auszuführen und in die nächste Zelle zu kommen
* Tastenkürzel "Ctrl + Enter", um die aktuelle Zelle auszuführen und in dieser Zellen zu bleiben

Wenn ein Python Paket nicht installiert sein sollte, wenn Sie Ihr Skript laufen lassen, dann versuchen Sie mittels des (Conda-)Terminals das fehlende Paket zu installieren. Beispielsweise können Sie wie folgt tensorflow (ein Deep-Learning Framework von Google) installieren:

    $ conda install -c conda-forge tensorflow 
    
oder via pip:

    $ pip3 install --upgrade tensorflow
    
PS: `--upgrade` updatet das genannte Paket. Sollten Sie zudem gerade keinen Zugriff auf das Terminal haben, so können Sie mittels einem ! (Bsp.: !conda install tensorflow) auch eine Zelle nutzen, um ein Paket zu installieren. Für good practice löschen Sie diese Zelle bzw die Zeile dann wieder aus Ihrem notebook nachdem Sie das Paket installiert haben.

In [8]:
import IPython
assert IPython.version_info[0] >= 3, "Ihre IPython Version ist veraltet. Bitte nutzen Sie Version >=3 von IPython/Jupyer notebook, damit nbgrader korrekt funktioniert."

### Test 1: Erstellen Sie eine Datenbank und führen Sie eine Datenbankabfrage mittels SQLite durch

Für mehr Information zu diesem Beispiel und weiteren Erklärungen schauen Sie bitte dieses [YouTube tutorial](https://www.youtube.com/watch?v=pd-0G0MigUA) oder schauen Sie auf [Github](https://github.com/CoreyMSchafer/code_snippets/tree/master/Python-SQLite).

In [1]:
import sqlite3

In [2]:
# create in-memory databases
conn = sqlite3.connect(':memory:')

c = conn.cursor()

#create table
c.execute("""CREATE TABLE employees (
            first text,
            last text,
            pay integer
            )""")

# insert a data record
c.execute("INSERT INTO employees VALUES ('John', 'Doe', 80000)")
c.execute("INSERT INTO employees VALUES ('Jane', 'Doe', 90000)")

conn.commit()

In [3]:
c.execute("SELECT * FROM employees WHERE last='Doe'")
c.fetchall()

[('John', 'Doe', 80000), ('Jane', 'Doe', 90000)]

In [4]:
c.execute("Drop TABLE employees")
conn.commit()
conn.close()

### Test 2: pandas series and dataframe
Pandas ist ein Python Paket, welches vor allem für Datenmanipulation und -analyse genutzt wird.

In [5]:
import pandas as pd

In [6]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

AttributeError: 'Series' object has no attribute 'append'

In [22]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [23]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [24]:
df.T.loc['Cost']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Cost, dtype: object